/*xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)*/

@media(max-width: @screen-xs-max){}
@media(min-width: @screen-sm-min){}  /* deprecated: @screen-tablet, or @screen-sm */
@media(min-width: @screen-md-min){}  /* deprecated: @screen-desktop, or @screen-md */
@media(min-width: @screen-lg-min){}  



@media only screen and (max-width: 992px) and (min-width: 0px){
    body {
        background-color:  #cce0ff;
    } 
    
    #buffer {
        height:65px;
        width:100%;
    }
    
    #try {
        text-align: center;
    }
    
    #menu {
        visibility: hidden;
    }
    
    #first {
        margin-top:70px;
    }
    
    .imgSelf {
        border-radius:150px;
    }

    .imgMenu {
        visibility: hidden;
    }

    .imgLogo {
        position:fixed;
        top:10px;
        right:20px;
        height:40px;
    }

   /* .imgMenu {
        position:fixed;
        top:10px;
        right:20px;
        height:40px;
    }
    
    .imgLogo {
       position:fixed;
        top:10px;
        right:50%;
        left:50%;
        height:40px;
    }*/
    
    .imgLinkedIn {
        position:fixed;
        top:10px;
        left:20px;
        height:40px;
    }
    
    .imgGit {
        position:fixed;
        top:10px;
        left:80px;
        height:40px;
    }
    
    .imgCV {
        position:fixed;
        top:10px;
        left:140px;
        height:40px;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color:  #E6E6E6;
    } 
    
    #buffer {
        height:75px;
        width:100%;
    }
    
    #try {
        float:left;
    }
    
    #first {
        margin-top:110px;
    }
    
    .imgSelf {
        border-radius:150px;
    }
    
    .imgMenu {
        visibility: hidden;
    }  
    
    .imgLogo {
        position:fixed;
        top:10px;
        right:20px;
        height:40px;
    }
    
    .imgLinkedIn {
        position:fixed;
        top:10px;
        left:20px;
        height:40px;
    }
    
    .imgGit {
        position:fixed;
        top:10px;
        left:80px;
        height:40px;
    }
    
    .imgCV {
        position:absolute;
        top:10px;
        left:140px;
        height:40px;
    }
}

/*
@media only screen and (max-width: 1200px) and (min-width: 993px) {
body {
    background-color:  #99c2ff;
}   
}

@media only screen and (min-width: 1201px) {
    body {
    background-color:  #E6E6E6;
}
}*/


body{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

#linkbar{
    position:fixed;
    top:10;
    vertical-align: middle;
    height:60px;
    width:100%;
    background-color: #EE7D31;
    margin:auto;
}

#languagebar{
    position:fixed;
    top:0;
    vertical-align: middle;
    height:10px;
    width:100%;
    background-color: #767171;
    margin:auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial;
    margin:0px;
    padding:0px;
}

div {
    margin:0px;
    padding:0px;
}

.container {
    max-width:80%;
    padding-top: 40px;
    padding-bottom: 40px; 
    margin:0px;
}

/***MENU SETUP********************************************************************************/

#menu {
    position:fixed;
    top:60px;
    height:45px;
    list-style-type: none; 
    margin: 0px; 
    padding: 0px; 
    overflow: hidden; 
    left:20%;
    width:80%; 
    background-color: #767171;
}

#setUpMenu {
    float: left; 
    height:45px;
    text-align: center; 
    vertical-align: middle;
    width:25%; 
    font-size:20px
}

#setUpMenu a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 10px 10px; 
    text-decoration: none;
}

#setUpMenu a:hover {
    background-color: #7F7F7F; 
    color: white;
}

/*********************************************************************************************/

/***LIST SETUP********************************************************************************/

#list {
    position:fixed;
    top:60px;
    left:auto;
    list-style-type: none; 
    margin: 0px; 
    padding: 0px; 
    overflow: hidden; 
    width:30%; 
    background-color: #767171;
    min-width: 182px
}

#setUpList {
    text-align: left; 
    font-size:20px;
}

#setUpList a {
    display: block; 
    color: white; 
    text-align: left; 
    padding: 10px 10px; 
    text-decoration: none;
}

#setUpList a:hover {
    background-color: #7F7F7F; 
    color: white;
}

/*********************************************************************************************/

/***TOOLTIP SETUP FOR CSS*********************************************************************/

.tooltip2 {
    position:fixed;
    top:0px;
    left:160px;
    height:40px;
    display: inline-block;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip2 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

/*********************************************************************************************/

/*.container {border:3px solid red}
.row {border:3px solid green}
table {border:2px solid black}
tr {border:2px solid black}
td {border:2px solid black}
div [class^="col-"] {border:2px solid orange;}*/
